# Environment variables
.env

# Datasets
.data
.Datasets

# Log files
.logs

# saved model
.Models

#Report
.Report_Book

# Python Cache files
__pycache__/

build

Application/assets/Model/DLV3+-model.h5
